.experience__container{
    display: grid;

    .experience__frontend {
        background: var(--color-bg-variant);
        padding: 2.4rem 5rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: var(--transition);

        h3 {
            text-align: center;
            margin-bottom: 2rem;
            color: var(--color-primary);
        }

        .experience__content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .experience__detals{
            display: flex;
            gap: 1rem;
        }

        .experience__detals-icon{
            margin-top: 6px;
            color: var(--color-primary);
        }

        &:hover{
            background: transparent;
            color: var(--color-primary-variant);
            cursor: default;
        }
    }
}

@media screen and (max-width: 1024px ) {

    .experience__container{
        grid-template-columns: 1fr;

        .experience__frontend{
            width: 80%;
            padding: 2rem;
            margin: 0 auto;
        }

        .experience__content{
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 600px ) {

    .experience__container{
        width: 100%;

        .experience__frontend{
            width: 100%;
            padding: 2rem 1rem;
        }
    }
}